<div class="container">
    <div class="col-sm-12 col-md-12 text-center">
        <h2>Set New Password</h2>
    </div>
    <div class="col-sm-12 col-md-12 text-center">

        <form class="form-inline" style="justify-content: center;     align-items: center;">
            <div class="form-group">
                <input type="password" class="form-control" id="recpasswd" placeholder="New Password">
            </div>

            <a  class="btn btn-info" ng-click="recoverpasswd()" id="submrecpasswd">Change</a>
        </form>
    </div>
</div>